<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Zoro的个人博客</title>
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="/stylesheets/zerogrid.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	
	<link href='/icon/favicon.ico' rel='icon' type='image/x-icon'/>
    
</head>
<body>
<div class="wrap-body zerogrid">
<!--Header-->
<header>
	<div class="wrap-header">
		
		<div class="top">
			<div class="socials">
			<ul>
					<!-- <li><a href="#" title="facebook"><img  src="images/socials/facebook-32x32.png"/></a></li>
					<li><a href="#" title="google"><img  src="images/socials/google-32x32.png"/></a></li>
					<li><a href="#" title="twitter"><img  src="images/socials/twitter-32x32.png"/></a></li>
					<li><a href="#" title="rss"><img  src="images/socials/rss-32x32.png"/></a></li>
					<li><a href="#" title="youtube"><img  src="images/socials/youtube-32x32.png"/></a></li> -->
				</ul>
			</div>
			<div id="search">
				<!-- <div class="button-search"></div>
				<input type="text" value="Search..." onFocus="if (this.value == &#39;Search...&#39;) {this.value = &#39;&#39;;}" onBlur="if (this.value == &#39;&#39;) {this.value = &#39;Search...&#39;;}"> -->
			</div>
		</div>
		
		<div id="logo">
			<a href="http://www.ztcdd.cn"><h1>Zoro</h1></a>
			<p>Personal Blog by Zoro Zhang</p>
		</div>
		
		<nav>
			<div class="wrap-nav">
				<div class="menu">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="blog">Blog</a></li>
						<li><a href="/">Gallery</a></li>
						<li><a href="/">About</a></li>
						<li><a href="/">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
	</div>
</header>
<section id="content">
	<div class="wrap-content">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="wrap-col">