body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a#regist
{
	
}

div#headmenu
{
height: 55px;
width: 1100px;
margin: 0 0 0 12px;
padding: 0;
border: 0;
background: #fff;
}

ul#menulist
{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
}
div#headmenu ul#menulist li
{
	/*display: inline;*/
	float:left;
	/*margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:0;*/
}
div#headmenu ul#menulist li a{
	display:block;
	width:50px;
}

.edit{margin:3px;padding:2px 5px;border-radius:3px;background-color:#f3f3f3;color:#333;font-size:13px;}
.edit:hover{text-decoration:none;background-color:#f00;color:#fff;-webkit-transition:color .2s linear;}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}
.search{border:0;width:6em;text-align:center;font-size:1em;margin:0.5em 0;}